.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(56, 41, 41, 0.2), 0 6px 20px 0 rgba(130, 129, 129, 0.19);
}

.nav-items > ul{
    display: flex;
    font-size: larger;
    flex-wrap: wrap;
}

.nav-items > ul > li {
    list-style: none;
    padding: 0px 25px;
    width: fit-content;
}

.logo{
    width: fit-content;
    height: 8vh;
    border-radius: 50%;
    border: 1px solid;
    margin: 10px;
    box-sizing: border-box;
}

.login-button {
    border: 1px solid;
    border-radius: 0.5rem;
    padding:5px 10px;
    margin: 0 10vh;
    box-shadow: 0 4px 8px 0 rgba(129, 128, 128, 0.2), 0 6px 20px 0 rgba(130, 129, 129, 0.19);
    background-color: rgb(255, 255, 255);
    font-size: medium;
}